{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h2 style="text-align:center; margin-top: 4rem; margin-bottom: 4rem;">Inscription</h2>


    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}

    {{ form_end(registrationForm) }}


{% endblock %}
