{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="text-align: center; margin-top: 4rem; margin-bottom: 4rem;">Création d'une tâche</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock body %}